html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.hero,
.filter-hero {
  height: 600px;
}

.hero {
  background-image: url(./img/hero.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-hero {
  background-color: rgba(0, 0, 0, 0.7);
}
.loader {
  border-top-color: #1f2937;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lineEffect {
  background: linear-gradient(currentColor 0 0) 0 100% / var(--d, 0) 3px
    no-repeat;
  transition: 0.5s;
}

.lineEffect:hover {
  color: #f8f8f8;
  --d: 100%;
}
